html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  height: 100%;

  min-height: "100vh";
  height: "100%";
  color: "#eaf1f1";
}
body {
  background-color: $primary-bg;
  background-image: radial-gradient($secondary-bg 1px, transparent 1px);
  background-size: 10px 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
