@import "./variables.scss";

.background {
  background-color: $primary-bg;
  background-image: radial-gradient($secondary-bg 1px, transparent 1px);
  background-size: 10px 10px;
}

.menu * {
  font-family: "Noto Sans Mono", monospace !important;
}
