
$color-pink: #fe86b3;
$color-gray: #cccccc;

.countryselector {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 0;

  border-bottom: 2px solid $color-gray;

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-pink;
  }

}
