---
- hosts: all
  tasks:
    - name: Add docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
      become: yes

    - name: Install basic list of packages
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages: ['apt-transport-https', 'ca-certificates', 'curl', 'gnupg-agent', 'software-properties-common']
      become: yes

    - name: Add apt repository
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
      become: yes

    - name: Install Docker packages
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages: ['docker-ce', 'docker-ce-cli', 'containerd.io']
      become: yes

    - name: Add user to docker group
      user:
        name: "{{ansible_env.USER}}"
        groups: docker
        append: yes
      become: yes

    - name: set docker.service
      template:
        src: ./docker.service
        dest: /lib/systemd/system/docker.service
        owner: root
        group: root
        mode: 0644
      become: yes

    - name: Ensure docker service is enabled
      systemd:
        name: docker
        state: restarted
        daemon_reload: yes
        enabled: yes
      become: yes

    - name: Install docker-py
      pip:
        name: docker-py
      become: yes

    - name: Install docker-compose
      get_url:
        url: "https://github.com/docker/compose/releases/download/1.24.0/docker-compose-{{ ansible_system }}-{{ ansible_architecture }}"
        dest: /usr/local/bin/docker-compose
        mode: "0755"
      become: yes
