$bg-color: #0b1933;
$fg-color: #edf2f7;
$accent-color: #4491cf;
$warn-color: #ac1111;

.bg-bg-color {
    background-color: $bg-color;
}


.accent-color {
    color: $accent-color;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: text-bottom;
}
